$orange: #e45028;
$white: #fff;
$yellow: #f9b43b;
$black: #2f3234;

@import "./sass/blocks/media";
@import './sass/layout/base';
@import './sass/layout/fonts';
@import "./sass/blocks/header";
@import "./sass/blocks/section";
@import "./sass/blocks/btn";
@import "./sass/blocks/navigation";
@import "./sass/blocks/hero";
@import "./sass/blocks/feature";
@import "./sass/blocks/features";
@import "./sass/blocks/reviews";
@import "./sass/blocks/review";
@import './sass/blocks/arrow';
@import "./sass/blocks/hamburger";
@import "./sass/blocks/team";
@import "./sass/blocks/form";
@import "./sass/blocks/map";
@import "./sass/blocks/footer";
@import "./sass/blocks/slider";
@import "./sass/blocks/menu";
@import "./sass/blocks/logo";
@import "./sass/blocks/socials";
@import "./sass/blocks/bslider";
@import "./sass/blocks/composition";
@import "./sass/blocks/kkal";
@import "./sass/blocks/bslide";
@import "./sass/blocks/hidden";
@import "./sass/blocks/popup";
@import "./sass/blocks/modalWindow";
@import "./sass/blocks/modal";
@import "./sass/blocks/main-content";
@import "./sass/blocks/video";
@import "./sass//blocks/duration";
@import "./sass/blocks/sound";