@font-face {
  src: url(./fonts/Gagalin-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
}
@font-face {
  src: url(./fonts/Lifehack-Medium.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Lifehack-Medium";
}
@font-face {
  src: url(./fonts/Ubuntu-B.ttf);
  font-weight: bold;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-family: "ubuntu";
}
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.42;
  position: relative;
  font-family: "ubuntu";
  font-weight: 300;
  margin: 0;
}

.body--active {
  overflow: hidden;
}

html {
  font-size: 15px;
}
@media screen and (max-width: 780px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

html, body {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  width: 95%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1;
}

p, ul, li, input {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

ul, li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

svg {
  max-width: 100%;
  height: 100%;
  width: 100%;
  max-height: 100%;
}

@font-face {
  src: url(./fonts/Gagalin-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
}
@font-face {
  src: url(./fonts/Lifehack-Medium.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Lifehack-Medium";
}
@font-face {
  src: url(./fonts/Ubuntu-B.ttf);
  font-weight: bold;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-family: "ubuntu";
}
.header {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  font-size: 0.875rem;
}
.header a {
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 780px) {
  .header {
    justify-content: flex-start;
  }
  .header .btn {
    margin-left: auto;
    margin-right: 3.4375rem;
  }
}
@font-face {
  src: url(./fonts/Gagalin-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
}
@font-face {
  src: url(./fonts/Lifehack-Medium.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Lifehack-Medium";
}
@font-face {
  src: url(./fonts/Ubuntu-B.ttf);
  font-weight: bold;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-family: "ubuntu";
}
.section {
  height: 100vh;
  background: center center/cover no-repeat;
  display: flex;
  line-height: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section__title {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
  color: #fff;
  margin-bottom: 2.8125rem;
}
.section__title--centered {
  text-align: center;
}
.section__title--color-black {
  color: #2f3234;
}
.section__title--color-yellow {
  color: #f9b43b;
}

.btn {
  background-color: #e45028;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  transition: 0.3s;
  border: none;
  color: #fff;
  text-transform: uppercase;
}
.btn:hover {
  background: #f9b43b;
}

.navigation {
  margin-left: auto;
  margin-right: 0.9375rem;
}
@media screen and (max-width: 780px) {
  .navigation {
    display: none;
  }
}

.navigation__list, .navigation__item {
  display: flex;
}
.navigation__list .navigation__item, .navigation__item .navigation__item {
  align-items: center;
  margin-right: 0.9375rem;
}
.navigation__list .navigation__item:after, .navigation__item .navigation__item:after {
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: #fff;
  margin-left: 0.9375rem;
}
@media screen and (max-width: 877px) {
  .navigation__list .navigation__item:after, .navigation__item .navigation__item:after {
    display: none;
  }
}
.navigation__list .navigation__item:last-child, .navigation__item .navigation__item:last-child {
  margin: 0;
}
.navigation__list .navigation__item:last-child:after, .navigation__item .navigation__item:last-child:after {
  display: none;
}
.navigation__list .navigation__item .navigation__link:hover, .navigation__item .navigation__item .navigation__link:hover {
  text-decoration: underline;
}

@font-face {
  src: url(./fonts/Gagalin-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
}
@font-face {
  src: url(./fonts/Lifehack-Medium.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Lifehack-Medium";
}
@font-face {
  src: url(./fonts/Ubuntu-B.ttf);
  font-weight: bold;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-family: "ubuntu";
}
.hero__container {
  padding-top: 0.625rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__content {
  display: flex;
  flex: 0.8;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .hero__content {
    flex-direction: column;
    padding: 0 6rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__content {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 4rem;
  }
}

.hero__subtitle {
  font-weight: normal;
  font-style: normal;
  font-family: "Lifehack-Medium";
  font-size: 4.0625rem;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .hero__subtitle {
    font-size: 3rem;
  }
}

.hero__text {
  width: 50%;
}
@media screen and (max-width: 780px) {
  .hero__text {
    width: 100%;
    text-align: center;
  }
}

.hero__img {
  margin-right: 0.9375rem;
}
@media screen and (max-width: 780px) {
  .hero__img {
    margin-right: 0;
    margin-bottom: 1.875rem;
  }
}

.hero {
  background-color: #000400;
}

@font-face {
  src: url(./fonts/Gagalin-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
}
@font-face {
  src: url(./fonts/Lifehack-Medium.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Lifehack-Medium";
}
@font-face {
  src: url(./fonts/Ubuntu-B.ttf);
  font-weight: bold;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-family: "ubuntu";
}
.feature__title {
  font-weight: normal;
  font-style: normal;
  font-family: "Lifehack-Medium";
  color: #2f3234;
  font-size: 1.5rem;
  margin-bottom: 1.5625rem;
}
.feature__img {
  margin-bottom: 1.5625rem;
  width: 5.3125rem;
  height: 5.3125rem;
}
@media screen and (max-width: 480px) {
  .feature__img {
    margin-bottom: 0;
    max-width: 5.3125rem;
    min-width: 5.3125rem;
    max-height: 5.3125rem;
    height: 5.3125rem;
    margin-right: 1.25rem;
  }
}

.feature__descr {
  line-height: 1.7;
}

.features__list, .features__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 480px) {
  .features__list, .features__item {
    flex-direction: column;
  }
}
.features__list .features__item, .features__item .features__item {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%/3 - 1.875rem);
  margin-right: 1.875rem;
}
@media screen and (max-width: 480px) {
  .features__list .features__item, .features__item .features__item {
    flex-direction: row;
    width: 100%;
    text-align: initial;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.features__list .features__item:last-child, .features__item .features__item:last-child {
  margin: 0;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.reviews__item {
  width: 25%;
  height: 50%;
}

.reviews {
  height: 100vh;
}

@media (max-width: 780px) {
  .reviews__item {
    width: 50%;
    height: 25%;
  }
}
@font-face {
  src: url(./fonts/Gagalin-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
}
@font-face {
  src: url(./fonts/Lifehack-Medium.otf);
  font-weight: normal;
  font-style: normal;
  font-family: "Lifehack-Medium";
}
@font-face {
  src: url(./fonts/Ubuntu-B.ttf);
  font-weight: bold;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-family: "ubuntu";
}
@font-face {
  src: url(./fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-family: "ubuntu";
}
.review {
  position: relative;
  filter: grayscale(100%);
  color: #fff;
}
.review:hover .review__hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.review .btn {
  align-self: flex-start;
}
.review p {
  font-size: 0.875rem;
}

.review__hover {
  padding: 0 1.5625rem;
  opacity: 0;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  z-index: 1000;
  position: relative;
}

.review__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
@media screen and (max-width: 780px) {
  .review__content {
    align-items: center;
  }
}

.review__name {
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 780px) {
  .review__name {
    margin-bottom: 0.875rem;
  }
}
@media screen and (max-width: 480px) {
  .review__name {
    font-size: 1.5rem;
  }
}

.review__text {
  line-height: 1.7;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 780px) {
  .review__text {
    margin-bottom: 0.875rem;
  }
}
@media screen and (max-width: 480px) {
  .review__text {
    display: none;
  }
}

.review__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 780px) {
  .review__content {
    text-align: center;
  }

  .review .btn {
    align-self: center;
  }
}
.arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow__link {
  display: block;
  width: 2.5rem;
  height: 1.25rem;
}

.hamburger {
  position: fixed;
  top: 32px;
  width: 30px;
  height: 15px;
  right: 36px;
  z-index: 1000;
  cursor: pointer;
}

.hamburger__line:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 0.3125rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.hamburger__line:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 0.3125rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  top: 50%;
  left: 0;
  transition: 0.3s;
}
.hamburger__line:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 0.3125rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  bottom: -5px;
  top: initial;
  left: 0;
  transition: 0.3s;
}

.hamburger__link {
  display: block;
}

.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
}
.hamburger--active .hamburger__line:nth-child(1) {
  transform: rotate(45deg);
  top: 5px;
}
.hamburger--active .hamburger__line:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 11px;
  top: 5px;
}

.team {
  position: relative;
  color: #fff;
}
.team .team__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-color: #2f3234;
  opacity: 0.9;
  padding: 0 90px;
}
@media screen and (max-width: 780px) {
  .team .team__wrapper {
    left: 0;
    text-align: center;
  }
}

.team__item {
  margin-bottom: 30px;
}
.team__item:last-child {
  margin: 0;
}

.team__hidden {
  padding-left: 10px;
  height: 0;
  overflow: hidden;
  display: flex;
}
@media screen and (max-width: 780px) {
  .team__hidden {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}

.team__img-block {
  width: 7.25rem;
  height: 7.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.5625rem;
}
@media screen and (max-width: 780px) {
  .team__img-block {
    margin-right: 0;
    margin-bottom: 0.9375rem;
  }
}
.team__img-block .team__img {
  height: 100%;
  flex-shrink: 0;
}

.team__name {
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
  margin-bottom: 0.9375rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.team__name:before {
  content: "";
  border: 6px solid transparent;
  border-top: 10px solid #f9b43b;
  margin-right: 10px;
  border-bottom-width: 0px;
}
@media screen and (max-width: 780px) {
  .team__name:before {
    display: inline-block;
  }
}
@media screen and (max-width: 780px) {
  .team__name {
    display: block;
  }
}

.team__accordeon {
  display: flex;
  flex-direction: column;
}

.team__occupation {
  font-weight: bold;
  margin-bottom: 0.9375rem;
  text-transform: capitalize;
}

.team__content-block {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .team__content-block {
    width: 100%;
  }
}

.team p {
  line-height: 1.7;
}

.team__item--active .team__name {
  color: #f9b43b;
}
.team__item--active .team__name:before {
  content: "";
  border: 6px solid transparent;
  border-bottom: 10px solid #f9b43b;
  margin-right: 10px;
  border-top-width: 0px;
}
.team__item--active .team__hidden {
  height: initial;
}

.form__row {
  display: flex;
  margin-bottom: 0.9375rem;
  margin-right: -1.25rem;
}

.form__label {
  flex: 1;
  margin-right: 1.25rem;
}

.form__input {
  padding: 0.625rem 1.25rem;
  width: 100%;
  border-radius: 0.3125rem;
  border: 2px solid #d1cfcb;
  outline: none;
}
.form__input:focus {
  border: 2px solid #f9b43b;
}

.form__title {
  color: #fff;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.form {
  display: flex;
}
@media screen and (max-width: 780px) {
  .form {
    flex-direction: column;
    padding: 0 7.125rem;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 3.125rem;
  }
}

.form__textarea {
  max-height: 5rem;
  max-width: 28.75rem;
}
@media screen and (max-width: 780px) {
  .form__textarea {
    max-width: 100%;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.25rem;
  margin-bottom: -0.9375rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 780px) {
  .form__col {
    margin-right: 0;
  }
  .form__col:first-child {
    margin-bottom: 1rem;
  }
}

.form__radios {
  margin-bottom: 2.8125rem;
}
@media screen and (max-width: 480px) {
  .form__radios {
    margin-bottom: 1.25rem;
    justify-content: center;
  }
}

.form__radio, .form__checkbox {
  display: none;
}

.form__btn {
  font-weight: 500;
  color: #fff;
  border: none;
  text-transform: uppercase;
  outline: none;
  margin-right: 10px;
}

.form__btn--clear {
  background: none;
  text-transform: capitalize;
}

.form__fake-radio {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-right: 0.625rem;
}

.form__fake-radio::after {
  content: "";
  position: absolute;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__radio:checked ~ .form__fake-radio::after {
  background-color: #e45028;
}

.form__fake-checkbox {
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #fff;
  position: relative;
}

.form__fake-checkbox::after {
  content: "";
  position: absolute;
  width: 0.0625rem;
  height: 0.5625rem;
  left: 26%;
  bottom: 15%;
  border: 0.1875rem solid transparent;
  transform: rotate(45deg);
  border-bottom: 0.1875rem solid transparent;
  border-right: 0.1875rem solid transparent;
}

.form__checkbox:checked ~ .form__fake-checkbox::after {
  border-bottom: 0.1875rem solid #e45028;
  border-right: 0.1875rem solid #e45028;
}

.form__fake-checkbox {
  margin-right: 0.625rem;
}

.form__title--nomarg {
  margin: 0;
}

.form__label--flex {
  display: flex;
  align-items: center;
  flex: none;
}

@media screen and (max-width: 480px) {
  .form__row--center {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .form__btns {
    justify-content: center;
  }
}

.map {
  position: relative;
}

.footer {
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  background: center center/cover no-repeat;
  display: flex;
  padding: 10px 0;
}

.footer__container {
  display: flex;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer__contacts {
  justify-content: flex-start;
}
@media screen and (max-width: 480px) {
  .footer__contacts {
    margin-bottom: 10px;
  }
}

.footer__contacts, .footer__socials {
  width: 50%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__contacts, .footer__socials {
    width: 100%;
    justify-content: center;
  }
}

.footer__socials {
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .footer__socials {
    justify-content: center;
  }
}

.footer__imgwrapp {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.footer__adress {
  margin-bottom: 7px;
}

.footer__tel {
  color: #e45028;
  display: flex;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .footer__tel {
    justify-content: center;
  }
}

.slider {
  position: fixed;
  right: 3%;
  top: 15%;
  z-index: 1000;
}
@media screen and (max-width: 780px) {
  .slider {
    display: none;
  }
}

.slider__list {
  display: flex;
  flex-direction: column;
}
.slider__list .slider__item {
  margin-bottom: 5px;
}
.slider__list .slider__item:last-child {
  margin: 0;
}
.slider__list .slider__item--active .slider__link {
  border: 1px solid #fff;
}
.slider__list .slider__item:hover .slider__link {
  border: 1px solid #fff;
}

.slider__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
  transition: 0.3s;
}
.slider__link:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.menu__title {
  position: absolute;
  top: 6.75rem;
  left: 5.625rem;
}

.menu__list {
  position: absolute;
  right: 0;
  display: flex;
}

.menu__list, .menu__item, .menu__link, .menu__hidden {
  height: 100%;
}

.menu__item {
  display: flex;
}

.menu__link {
  background: center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
}
@media screen and (max-width: 780px) {
  .menu__link {
    width: 3rem;
  }
}

.menu__hidden {
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  background-color: rgba(47, 50, 52, 0.8);
  color: #fff;
  line-height: 1.7;
}

.menu__item--active .menu__hidden {
  width: 33.8125rem;
  padding: 55px 32px;
}
@media screen and (max-width: 780px) {
  .menu__item--active .menu__hidden {
    width: 22.8125rem;
  }
}
.menu__item--active .menu__hidden p {
  opacity: 1;
  transition: 0.4s;
  transition-delay: 0.7s;
}
.menu__item--active .menu__subtitle {
  color: #f9b43b;
}

.menu__hidden p {
  opacity: 0;
}

.menu__subtitle {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
  color: #fff;
  font-size: 2.5rem;
  transform: rotate(-90deg);
  white-space: nowrap;
}
@media screen and (max-width: 780px) {
  .menu__subtitle {
    font-size: 1.5rem;
  }
}

.logo__link {
  display: block;
}

.logo__image {
  width: 5.625rem;
  height: 4.375rem;
}

.socials__list {
  display: flex;
}

.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin: 0;
}

.socials__img {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.3);
}
.socials__img:hover {
  fill: #fff;
}

.bslider {
  width: 100%;
  position: relative;
  color: #fff;
}

@media screen and (max-width: 780px) {
  .bslider__list {
    text-align: center;
  }
}

.bslider__scroll {
  position: absolute;
  left: -35px;
  right: -35px;
  top: 50%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 780px) {
  .bslider__scroll {
    left: 20px;
    right: 20px;
  }
}

.bslider__link-left, .bslider__link-right {
  display: block;
  width: 2rem;
  height: 1.25rem;
}

.bslider__link-left {
  transform: rotate(90deg);
}

.bslider__link-right {
  transform: rotate(-90deg);
}

.composition {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 5px;
  background-color: #e35028;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.composition:hover {
  background-color: transparent;
  transition: 0.2s;
}
.composition:hover .composition__dropdown {
  left: 100%;
  opacity: 0.8;
  transition: opacity 0.4s;
}
@media screen and (max-width: 780px) {
  .composition {
    left: 5%;
  }
}

.composition__image {
  margin-bottom: 2px;
}

.composition__title {
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
  text-align: center;
}

.composition__dropdown {
  position: absolute;
  top: 0;
  width: 270px;
  left: -9999px;
  background-color: #fff;
  opacity: 0;
  border-radius: 5px;
  color: black;
  padding: 17px;
}

.composition__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.composition__item:last-child {
  margin-bottom: 0;
}

.composition__ingredient {
  font-weight: bold;
  text-transform: capitalize;
  margin-right: auto;
}

.composition__icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 15px;
}

.kkal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.625rem;
  height: 5.625rem;
  opacity: 0.6;
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
}
@media screen and (max-width: 780px) {
  .kkal {
    bottom: initial;
    left: initial;
    top: 0;
    right: 5%;
  }
}

.kkal__count {
  position: absolute;
  font-size: 25px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kkal__value {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.bslide {
  display: flex;
  align-items: center;
  padding: 4.375rem 0;
}
@media screen and (max-width: 780px) {
  .bslide {
    flex-direction: column;
    padding: 0 6rem;
  }
}

.bslide__image-wrapper, .bslide__block {
  flex: 1;
}

.bslide__image-wrapper {
  margin-right: 30px;
}
@media screen and (max-width: 780px) {
  .bslide__image-wrapper {
    margin-right: 0;
  }
}

.bslide__image {
  flex-shrink: 0;
}

.bslide__order {
  display: flex;
}
@media screen and (max-width: 780px) {
  .bslide__order {
    justify-content: center;
  }
}

.bslide__price {
  font-weight: normal;
  font-style: normal;
  font-family: "Gagalin Regular";
  display: flex;
  align-items: flex-end;
  color: #e45028;
  margin-right: 20px;
}

.bslide__text {
  line-height: 1.7;
  margin-bottom: 2.8125rem;
}

.bslide__count {
  font-size: 72px;
  margin-right: 10px;
}

.bslide__button {
  align-self: flex-end;
}

.bslide__wallet {
  font-size: 30px;
}

.hidden {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #2f3234;
  color: #fff;
  font-size: 30px;
  padding-top: 0.625rem;
  opacity: 0;
  transition: 0.3s;
}

.hidden__menu {
  display: flex;
  justify-content: center;
}

.hidden__item {
  margin-bottom: 15px;
  text-align: center;
}
.hidden__item:after {
  content: "";
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto;
  margin-top: 15px;
}
.hidden__item:last-child:after {
  display: none;
}

.hidden__link {
  display: block;
}
.hidden__link:hover {
  opacity: 0.8;
}

.hidden--active {
  left: 0;
  opacity: 1;
}