.bslider {
    width: 100%;
    position: relative;
    color: $white;
}

.bslider__list {

    @include tablets {
        text-align: center;
    }
  
}

.bslider__scroll {
    position: absolute;
    left: -35px;
    right: -35px;
    top: 50%;
    display: flex;
    justify-content: space-between;

    @include tablets {
        left: 20px;
        right: 20px;
    }
}

.bslider__link-left, .bslider__link-right {
    display: block;
    width: 2rem;
    height: 1.25rem;
}

.bslider__link-left {
    transform: rotate(90deg);
}

.bslider__link-right {
    transform: rotate(-90deg);
}   