.duration {
    display: flex;
    width: 80%;
    margin-right: 10px;
}

.duration__play {
    width: 12px;
    margin-right: 10px;
    fill: #636263;
}

.duration__length {
    width: 100%;
    height: 4px;
    appearance: none;
    background-color: #636263;
    outline: none;
    margin-top: 9px;
}

.duration__length::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
    background-color: #636263;
    border-radius: 5px;
    appearance: none;
    outline: none;
}
