.duration__play {
    fill: #636263;
}

.duration {
    display: flex;
    width: 80%;
    margin-right: 10px;
}

.duration__play {
    width: 12px;
    margin-right: 10px;

}

.duration__length {
    width: 100%;
}