.footer {
    position: absolute;
    color: $white;
    left: 0;
    right: 0;
    bottom: 0;
    background: center center / cover no-repeat;
    display: flex;
    padding: 10px 0;
    z-index: 1000;
}

.footer__container {
    display: flex;
    
    @include phones {
        flex-direction: column;
    }
}

.footer__contacts {
    justify-content: flex-start;

    @include phones {
        margin-bottom: 10px;
    }
}

.footer__contacts, .footer__socials {
    width: 50%;
    display: flex;
    align-items: center;

    @include phones {
        width: 100%;
        justify-content: center;
    }
}

.footer__socials {
    justify-content: flex-end;

    @include phones {
        justify-content: center;
    }
}




.footer__imgwrapp {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.footer__adress {
    margin-bottom: 7px;
}

.footer__tel {
    color: $orange;
    display: flex;
    align-items: center;
    font-weight: bold;
    @include phones {
        justify-content: center;
    }
}

