.form__row {
    display: flex;
    margin-bottom: 0.9375rem;
    margin-right: -1.25rem;
}

.form__label {
    flex: 1;
    margin-right: 1.25rem;

}

.form__input {
    padding: 0.625rem 1.25rem;
    width: 100%;
    border-radius: 0.3125rem;
    border:  2px solid #d1cfcb;
    outline: none;

    &:focus {
        border: 2px solid $yellow;
    }
}

.form__title {
    color: $white;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.form {
    display: flex;
}

.form__textarea {
    max-height: 5rem;
    max-width: 28.75rem;
}

.form__col {
    flex: 1;
    margin-right: 1.25rem;
    margin-bottom: -0.9375rem;
    &:last-child {
        margin-right: 0;
    }
}

.form__radios {
    margin-bottom: 45px;

}
 
.form__radio, .form__checkbox {
    display: none;
}

.form__btn {
    font-weight: 500;
    color: $white;
    border: none;
    text-transform: uppercase;
    outline: none;
    margin-right: 10px;
}

.form__btn--clear {
    background: none;
    text-transform: capitalize;
}

.form__fake-radio {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    margin-right: 0.625rem;
}

.form__fake-radio::after {
    content: '';
    position: absolute;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__radio:checked ~ .form__fake-radio::after {
    background-color: $orange;
}

.form__fake-checkbox {
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    background-color: $white;
    position: relative;
}

.form__fake-checkbox::after {
    content: "";
    position: absolute;
    width: 0.0625rem;
    height: 0.5625rem;
    left: 26%;
    bottom: 15%;
    border: 0.1875rem solid transparent;
    transform: rotate(45deg);
    border-bottom: 0.1875rem solid transparent;
    border-right: 0.1875rem solid transparent;
}

.form__checkbox:checked ~ .form__fake-checkbox::after {
    border-bottom: 0.1875rem solid $orange;
    border-right: 0.1875rem solid $orange;
}

.form__fake-checkbox {
    margin-right: 0.625rem;
}

.form__title--nomarg {
    margin: 0;
}

.form__label--flex {
    display: flex;
    align-items: center;
    flex: none;
}