.hamburger {
    position: fixed;
    top: 32px;
    width: 30px;
    height: 15px;
    right: 36px;
    z-index: 1000;
    cursor: pointer;
}

.hamburger__line {

    &:nth-child(1) {
        position: absolute;
        width: 100%;
        height: 0.3125rem;
        background-color: $white;
        border-radius: 0.3125rem;
        top: 0;
        left: 0;
        transition: .3s;
    }

    &:nth-child(2) {
        position: absolute;
        width: 100%;
        height: 0.3125rem;
        background-color: $white;
        border-radius: 0.3125rem;
        top: 50%;
        left: 0;
        transition: .3s;
    }

    &:nth-child(3) {
        position: absolute;
        width: 100%;
        height: 0.3125rem;
        background-color: $white;
        border-radius: 0.3125rem;
        bottom: -5px;
        top: initial;
        left: 0;
        transition: .3s;
    }
}



.hamburger__link {
    display: block;
}

.hamburger--active {

    .hamburger__line {
        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(1) {
            transform: rotate(45deg);
            top: 5px;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            bottom: 11px;
            top: 5px;
        }
    }   
}
