.header {
    display: flex;
    align-items: center;
    color:  $white;
    justify-content: space-between;
    font-size: 14px;

    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}