.navigation {
    margin-left: auto;
    margin-right: 15px;
}

.navigation__list, .navigation__item {
    display: flex;

    .navigation__item {
        align-items: center;
        margin-right: 15px;
        &:after {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $white;
            margin-left: 15px;
        }

        &:last-child {
            margin: 0;
            &:after {
                display: none;
            }
        }

       
        .navigation__link {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}