.navigation {
    margin-left: auto;
    margin-right: 0.9375rem;
}

.navigation__list, .navigation__item {
    display: flex;

    .navigation__item {
        align-items: center;
        margin-right: 0.9375rem;
        &:after {
            content: '';
            display: inline-block;
            width: 0.25rem;
            height: 0.25rem;
            border-radius: 50%;
            background: $white;
            margin-left: 0.9375rem;
        }

        &:last-child {
            margin: 0;
            &:after {
                display: none;
            }
        }

       
        .navigation__link {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}


@media (max-width: 780px) {
    .navigation {
        display: none;
    }
}