.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 50, 52, 0.9);

}

.popup--closed {
    display: none;
}

.popup__elem {
 background-color: $white;
 padding: 20px;
 width: 480px;
 border-radius: 5px;
 position: relative;

 @include tablets {
     width: 50%;
 }

 @include phones {
     width: 80%;
 }
}

.popup__name {
    @include gagalin();
    margin-bottom: 0.9375rem;
    text-transform: capitalize;
}

.popup__text {
    line-height: 1.7;
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 22px;
    cursor: pointer;
}

.popup__line {
    &:nth-child(1) {
        position: absolute;
        top: 33%;
        width: 100%;
        height: 5px;
        background-color: #f9b43b;
        border-radius: 3px;
        transform: rotate(45deg);

    }

    &:nth-child(2) {
        position: absolute;
        top: 33%;
        width: 100%;
        height: 5px;
        background-color: #f9b43b;
        border-radius: 3px;
        transform: rotate(-45deg);
    }
}
