@import '../layout/fonts';

.review {
    position: relative;
    filter: grayscale(100%);
    color: $white;

    &:hover {
        .review__hover {
            opacity: 1;
            background-color: rgba($color: #000, $alpha: .4);
        }
    }
}

.review__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 25px;
    opacity: 0;
    transition: .3s;
    background-color: rgba($color: #000, $alpha: 0);
}

.review__name {
    @include gagalin();
    margin-bottom: 30px;
}

.review__text {
    line-height: 1.7;
    margin-bottom: 20px;
}

.review__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__img-wrapper {
    height: 100%;
}