@import "../layout/fonts";

.section {
    height: 100vh;
    background: center center / cover no-repeat;
    display: flex;
    line-height: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


.section__title {
    text-transform: uppercase;
    font-size: 4.5rem;
    @include gagalin();
    color: $white; 
    margin-bottom: 2.8125rem;

    &--centered {
        text-align: center;
    }

    &--color-black {
        color: $black;
    }

    &--color-yellow {
        color: $yellow;
    }
}