.slider {
    position: fixed;
    right: 3%;
    top: 15%;
    z-index: 1000;

    @include tablets {
        display: none;
    }
}

.slider__list {
    display: flex;
    flex-direction: column;

    .slider__item {
        margin-bottom: 5px;
        &:last-child {
            margin: 0;
        }

        // &--active .slider__link {
        //     border: 1px solid $white
        // }

        &:hover .slider__link {
            border: 1px solid $white;
        }
    }

}

.slider__item.is-active .slider__link {
    border: 1px solid $white;
}

.slider__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;
    transition: .3s;

    &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $white;
    }
}